spring:
  threads:
    virtual:
      enabled: true  # 启用虚拟线程支持

lion:
  plugins:
    waf:
      enabled: true
      extend: {}
      rules:
        - name: headerRule
          matchMode: and
          conditions:
            - header,aaa|=|bbb
    http:
      enabled: true
      extend: { }
      rules:
        - name: uriRule
          matchMode: and
          conditions:
            - header,aaa|!=|bbb